<a href="https://colab.research.google.com/github/MaH1996SdN/Programming_Project/blob/master/Programming_Project_Olympic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing libraries and creting dataframes

In [2]:
# importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# creating the olympics dataframe 
olympic_df = pd.read_csv('https://raw.githubusercontent.com/MaH1996SdN/programming_project/master/athlete_events.csv')
# creating regions dataframe
regions_df = pd.read_csv('https://raw.githubusercontent.com/MaH1996SdN/programming_project/master/noc_regions.csv')

#Data Exploration and Cleaning

## Exploring dataframe

In [4]:
# returning olympic dataframe values
olympic_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [5]:
# returning the number of rows and columns in olympic dataframe
olympic_df.shape

(271116, 15)

In [6]:
# returning the number of rows in olympic dataframe
olympic_df.shape[0]

271116

In [7]:
# returning first 5 rows of olympic dataframe
olympic_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [8]:
# returning last 5 rows of olympic dataframe
olympic_df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [9]:
# getting information about each column counts and datatype in olympic dataframe
olympic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [10]:
# getting information like min,max and mean about numeric columns in olympic dataframe
olympic_df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

In [11]:
# returning regions dataframe values
regions_df

     NOC       region                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

In [12]:
# returning the number of rows and columns in regions dataframe
regions_df.shape

(230, 3)

In [13]:
# returning the number of rows in regions dataframe
regions_df.shape[0]

230

In [14]:
# droping extra columns: id, games, event in olympic dataframe
olympic_df.drop(['ID', 'Games','Event'], axis=1, inplace=True)

In [15]:
olympic_df

,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Medal
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
271111,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976,Winter,Innsbruck,Luge,NaN
271112,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,NaN
271113,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,NaN
271114,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998,Winter,Nagano,Bobsleigh,NaN
271115,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002,Winter,Salt Lake City,Bobsleigh,NaN

In [16]:
# dropping extra column: note in regions dataframe
regions_df.drop('notes', axis=1, inplace=True)

In [17]:
regions_df

     NOC       region
0    AFG  Afghanistan
1    AHO      Curacao
2    ALB      Albania
3    ALG      Algeria
4    AND      Andorra
..   ...          ...
225  YEM        Yemen
226  YMD        Yemen
227  YUG       Serbia
228  ZAM       Zambia
229  ZIM     Zimbabwe

[230 rows x 2 columns]

In [18]:
# merging 2 dataframes in order to find countries 
olympic_df = pd.merge(olympic_df, regions_df, on='NOC', how='left')

In [19]:
olympic_df

,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Medal,region
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,NaN,China
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,NaN,China
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,NaN,Denmark
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Gold,Denmark
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,NaN,Netherlands
...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976,Winter,Innsbruck,Luge,NaN,Poland
271112,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,NaN,Poland
271113,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,NaN,Poland
271114,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998,Winter,Nagano,Bobsleigh,NaN,Poland
271115,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002,Winter,Salt Lake City,Bobsleigh,NaN,Poland

In [20]:
# renaming region to "Country" for better understanding
olympic_df.rename(columns = {'region':'Country'}, inplace = True)

In [21]:
olympic_df

,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Medal,Country
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,NaN,China
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,NaN,China
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,NaN,Denmark
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Gold,Denmark
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,NaN,Netherlands
...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976,Winter,Innsbruck,Luge,NaN,Poland
271112,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,NaN,Poland
271113,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,NaN,Poland
271114,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998,Winter,Nagano,Bobsleigh,NaN,Poland
271115,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002,Winter,Salt Lake City,Bobsleigh,NaN,Poland

In [22]:
# dropping extra column in olympic dataframe: Team/ includes unrelated data
olympic_df.drop('Team', axis=1, inplace=True)

In [23]:
olympic_df.head()

,Name,Sex,Age,Height,Weight,NOC,Year,Season,City,Sport,Medal,Country
0,A Dijiang,M,24.0,180.0,80.0,CHN,1992,Summer,Barcelona,Basketball,NaN,China
1,A Lamusi,M,23.0,170.0,60.0,CHN,2012,Summer,London,Judo,NaN,China
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,DEN,1920,Summer,Antwerpen,Football,NaN,Denmark
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,1900,Summer,Paris,Tug-Of-War,Gold,Denmark
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988,Winter,Calgary,Speed Skating,NaN,Netherlands

## Cleaning "Age" column

In [24]:
# counting the number of null values of Age column
olympic_df['Age'].isnull().sum()

9474

In [25]:
# mean value of Age column
olympic_df['Age'].mean()

25.556898357297374

In [26]:
# removing rows containing null values of Age column 
olympic_df.dropna(subset=['Age'], inplace=True)

In [27]:
# counting the number of null values of Age column after cleaning
olympic_df['Age'].isnull().sum()

0

In [28]:
# counting the number of non-null values of Age column
olympic_df['Age'].notnull().sum()

261642

In [29]:
olympic_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261642 entries, 0 to 271115
Data columns (total 12 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Name     261642 non-null  object
 1   Sex      261642 non-null  object
 2   Age      261642 non-null  float64
 3   Height   210068 non-null  float64
 4   Weight   207379 non-null  float64
 5   NOC      261642 non-null  object
 6   Year     261642 non-null  int64
 7   Season   261642 non-null  object
 8   City     261642 non-null  object
 9   Sport    261642 non-null  object
 10  Medal    39051 non-null   object
 11  Country  261286 non-null  object
dtypes: float64(3), int64(1), object(8)
memory usage: 26.0+ MB

## Cleaning "Height" column

In [30]:
# counting the number of null values of Height column
olympic_df['Height'].isnull().sum()

51574

In [31]:
# mean value of Height column
olympic_df['Height'].mean()

175.3513671763429

In [32]:
# filling null values of Height column with median value
olympic_df['Height'].fillna(olympic_df['Height'].mean(), inplace=True)

In [33]:
# counting the number of null values of Height column after cleaning
olympic_df['Height'].isnull().sum()

0

In [34]:
# counting the number of non-null values of Height column
olympic_df['Height'].notnull().sum()

261642

## Cleaning "Weight" column

In [35]:
# counting the number of null values of Weight column
olympic_df['Weight'].isnull().sum()

54263

In [36]:
# mean value of Weight column
olympic_df['Weight'].mean()

70.7126034940857

In [37]:
# filling null values of Weight column with median value
olympic_df['Weight'].fillna(olympic_df['Weight'].mean(), inplace=True)

In [38]:
# counting the number of null values of Weight column after cleaning
olympic_df['Weight'].isnull().sum()

0

In [39]:
# counting the number of non-null values of Weight column
olympic_df['Weight'].notnull().sum()

261642

In [40]:
olympic_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261642 entries, 0 to 271115
Data columns (total 12 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Name     261642 non-null  object
 1   Sex      261642 non-null  object
 2   Age      261642 non-null  float64
 3   Height   261642 non-null  float64
 4   Weight   261642 non-null  float64
 5   NOC      261642 non-null  object
 6   Year     261642 non-null  int64
 7   Season   261642 non-null  object
 8   City     261642 non-null  object
 9   Sport    261642 non-null  object
 10  Medal    39051 non-null   object
 11  Country  261286 non-null  object
dtypes: float64(3), int64(1), object(8)
memory usage: 26.0+ MB

## Cleaning  "Medal" column

In [41]:
# returning medal column values
olympic_df.Medal

0          NaN
1          NaN
2          NaN
3         Gold
4          NaN
          ...
271111     NaN
271112     NaN
271113     NaN
271114     NaN
271115     NaN
Name: Medal, Length: 261642, dtype: object

In [42]:
# counting the number of null values of Medal column
olympic_df['Medal'].isnull().sum()

222591

In [43]:
# counting the number of non-null values of Medal column
olympic_df['Medal'].notnull().sum()

39051

In [44]:
# filling null values with "0"
olympic_df['Medal'].fillna(0, inplace=True)

In [45]:
olympic_df['Medal'].isnull().sum()

0

In [46]:
olympic_df.Medal

0            0
1            0
2            0
3         Gold
4            0
          ...
271111       0
271112       0
271113       0
271114       0
271115       0
Name: Medal, Length: 261642, dtype: object

In [47]:
# replacing string values of Medals with integer values
olympic_df.Medal.replace({'Gold':1, 'Silver':2, 'Bronze':3}, inplace=True)

In [48]:
olympic_df.Medal

0         0
1         0
2         0
3         1
4         0
         ..
271111    0
271112    0
271113    0
271114    0
271115    0
Name: Medal, Length: 261642, dtype: int64

In [49]:
olympic_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261642 entries, 0 to 271115
Data columns (total 12 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Name     261642 non-null  object
 1   Sex      261642 non-null  object
 2   Age      261642 non-null  float64
 3   Height   261642 non-null  float64
 4   Weight   261642 non-null  float64
 5   NOC      261642 non-null  object
 6   Year     261642 non-null  int64
 7   Season   261642 non-null  object
 8   City     261642 non-null  object
 9   Sport    261642 non-null  object
 10  Medal    261642 non-null  int64
 11  Country  261286 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 26.0+ MB

## Cleaning "Country" column

In [50]:
# counting rows with null countries
olympic_df.Country.isnull().sum()

356

In [51]:
olympic_df[(olympic_df.Country.isnull()) & (olympic_df.Medal != 0)]

,Name,Sex,Age,Height,Weight,NOC,Year,Season,City,Sport,Medal,Country
67723,Feng Tian Wei,F,21.0,163.0,55.0,SGP,2008,Summer,Beijing,Table Tennis,2,NaN
67724,Feng Tian Wei,F,25.0,163.0,55.0,SGP,2012,Summer,London,Table Tennis,3,NaN
67725,Feng Tian Wei,F,25.0,163.0,55.0,SGP,2012,Summer,London,Table Tennis,3,NaN
138095,Li Jia Wei,F,26.0,170.0,60.0,SGP,2008,Summer,Beijing,Table Tennis,2,NaN
138096,Li Jia Wei,F,30.0,170.0,60.0,SGP,2012,Summer,London,Table Tennis,3,NaN
213955,Joseph Isaac Schooling,M,21.0,184.0,74.0,SGP,2016,Summer,Rio de Janeiro,Swimming,1,NaN
235908,"Howe Liang ""Tiger"" Tan",M,27.0,160.0,69.5,SGP,1960,Summer,Roma,Weightlifting,2,NaN
256622,Wang Jue Gu,F,28.0,155.0,63.0,SGP,2008,Summer,Beijing,Table Tennis,2,NaN
256624,Wang Jue Gu,F,32.0,155.0,63.0,SGP,2012,Summer,London,Table Tennis,3,NaN

In [52]:
# counting rows with null countries and with medals
olympic_df[(olympic_df.Country.isnull()) & (olympic_df.Medal != 0)].shape[0]

9

In [53]:
# removing rows containing null countries
olympic_df = olympic_df[olympic_df['Country'].notna()]

In [54]:
olympic_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261286 entries, 0 to 271115
Data columns (total 12 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Name     261286 non-null  object
 1   Sex      261286 non-null  object
 2   Age      261286 non-null  float64
 3   Height   261286 non-null  float64
 4   Weight   261286 non-null  float64
 5   NOC      261286 non-null  object
 6   Year     261286 non-null  int64
 7   Season   261286 non-null  object
 8   City     261286 non-null  object
 9   Sport    261286 non-null  object
 10  Medal    261286 non-null  int64
 11  Country  261286 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 25.9+ MB

## Cleaning "Sport" column

In [55]:
# returning the number of rows containing "Art Competitions in the "Sport" column
olympic_df[olympic_df.Sport == 'Art Competitions'].shape[0]

3071

In [56]:
# removing the rows containing "Art Competitions in the "Sport" column
olympic_df.drop(olympic_df.loc[olympic_df['Sport']=='Art Competitions'].index, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [57]:
olympic_df[olympic_df.Sport == 'Art Competitions'].shape[0]

0